In [1]:
bool("python")

True

In [3]:
bool("hbjb")

True

In [4]:
bool(0)

False

In [5]:
bool(6)

True

In [ ]:
raw_input() vs input()


3>input()

In [8]:
a=int(input("Enter a First Number:"))

Enter a First Number:40

In [9]:
b=int(input("Enter a 2nd Number:"))

Enter a 2nd Number:70

In [10]:
c=a+b

In [11]:
print("Sum=",c)

Sum= 110

In [15]:
print("Sum=",int(input("Enter a First Number:"))+int(input("Enter a 2nd Number:")))

Enter a First Number:30
Enter a 2nd Number:50
Sum= 80

In [ ]:
BODMAS= B o, div ,mul ,add,sub

In [16]:
a=(20+1)*3
a=(21)*3
a=63

In [ ]:
b=20+(1*3)
b=20+(3)
b=20+3
b=23

In [18]:
a=2**3+4*(4*4/2)

In [19]:
a=2**3+4*8

40.0

In [ ]:
a=2**3+32
a=8+32
a=40

In [20]:
30+8.0

38.0

In [21]:
4/2

2.0

In [44]:
roll_no=int(input("Please Enter A roll no:"))
name=input("Please Enter A name:")
address=input("Please Enter A  Addrees:")
marks=float(input("Please Enter Percentage:"))
result=bool(input("Please Enter a Result in the Form of True/False:"))

Please Enter A roll no:8
Please Enter A name:AMol
Please Enter A  Addrees:Beed
Please Enter Percentage:80
Please Enter a Result in the Form of True/False:He is Pass

In [45]:
print(roll_no,name,address,marks,result)

8 AMol Beed 80.0 True

In [46]:
bool("He is Pass")

True

In [42]:
bool("")

False

In [1]:
roll_no=int(input("Please Enter A roll no:"))
name=input("Please Enter A name:")
address=input("Please Enter A  Addrees:")
marks=float(input("Please Enter Percentage:"))
result=eval(input("Please Enter a Result in the Form of True/False:"))

Please Enter A roll no:1
Please Enter A name:Madhuri
Please Enter A  Addrees:Satara
Please Enter Percentage:80.44
Please Enter a Result in the Form of True/False:True

In [2]:
print(roll_no,name,address,marks,result)

1 Madhuri Satara 80.44 True

In [3]:
roll_no=int(input("Please Enter A roll no:"))
name=input("Please Enter A name:")
address=input("Please Enter A  Addrees:")
marks=float(input("Please Enter Percentage:"))
result=eval(input("Please Enter a Result in the Form of True/False:"))

Please Enter A roll no:2
Please Enter A name:Raju
Please Enter A  Addrees:Beed
Please Enter Percentage:20
Please Enter a Result in the Form of True/False:False

In [4]:
print(roll_no,name,address,marks,result)

2 Raju Beed 20.0 False

In [5]:
a=eval(input("Enter a number"))

Enter a number3

In [6]:
type(a)

int

In [7]:
a=eval(input("Enter a number"))

Enter a number4.5

In [8]:
type(a)

float

In [9]:
a=eval(input("Enter a number"))

Enter a number"5643"

In [10]:
type(a)

str

In [12]:
a=eval(input("Enter a list"))

Enter a list[3,4,5,6,6,7,8]

In [13]:
a

[3, 4, 5, 6, 6, 7, 8]

In [14]:
type(a)

list

In [20]:
a=eval("30+5+6+7/5")

In [21]:
a

42.4

In [22]:
x,y=input("Enter two numbers:").split()

Enter two numbers:20 40

In [23]:
x

'20'

In [24]:
y

'40'

In [26]:
"python java c++ julio C# nodejs".split()

['python', 'java', 'c++', 'julio', 'C#', 'nodejs']

In [27]:
"1,2,3,4 5 ,5,6,7 7 ,7".split(',')

['1', '2', '3', '4 5 ', '5', '6', '7 7 ', '7']

In [29]:
a=input("Enter two numbers")

Enter two numbers30 40

In [30]:
a

'30 40'

In [32]:
l='30 40'.split()

In [39]:
l

['30', '40']

In [36]:
x,y=['30','40']

In [40]:
x,y=(3,4)

In [41]:
x

3

In [42]:
y

4

In [59]:
  x,y,z=input("Enter three numbers").split(',')

Enter three numbers34,55,66

In [63]:
x=int(x)

In [68]:
y=int(y)

In [64]:
z=int(z)

In [66]:
x

34

In [69]:
y

55

In [70]:
z

66

In [71]:
s="abc"

In [72]:
s[::-1]

'cba'

In [ ]:
bool()