In [1]:
d={}

In [2]:
dict()

{}

In [10]:
d={1:'Amol',2:"Madhura",3:"Anjali",4:"Sneha",5:"Madhuri",6:"Madhuri",7:"Sneha",1:"Rahul"}

In [11]:
d

{1: 'Rahul',
 2: 'Madhura',
 3: 'Anjali',
 4: 'Sneha',
 5: 'Madhuri',
 6: 'Madhuri',
 7: 'Sneha'}

In [12]:
d[2]

'Madhura'

In [13]:
d1={'Amol':9881070289,"Surya":885856565566,"Anjali":84596595925,"Sneha":7855566623}

In [14]:
d1["Amol"]

9881070289

In [15]:
d1["Madhuri"]

KeyError: 'Madhuri'

In [16]:
d1["Madhuri"]=8989522552

In [17]:
d1

{'Amol': 9881070289,
 'Surya': 885856565566,
 'Anjali': 84596595925,
 'Sneha': 7855566623,
 'Madhuri': 8989522552}

In [18]:
del d1["Madhuri"]

In [19]:
d1

{'Amol': 9881070289,
 'Surya': 885856565566,
 'Anjali': 84596595925,
 'Sneha': 7855566623}

In [21]:
d1.clear()

In [22]:
d1

{}

In [23]:
d1

{}

In [24]:
del d1

In [25]:
d1

NameError: name 'd1' is not defined

In [26]:
##Functions of Dict

In [27]:
d

{1: 'Rahul',
 2: 'Madhura',
 3: 'Anjali',
 4: 'Sneha',
 5: 'Madhuri',
 6: 'Madhuri',
 7: 'Sneha'}

In [28]:
d.len()

AttributeError: 'dict' object has no attribute 'len'

In [29]:
len(d)

7

In [30]:
d.get(2)

'Madhura'

In [31]:
d.get(7)

'Sneha'

In [34]:
d.get(9)

In [35]:
d

{1: 'Rahul',
 2: 'Madhura',
 3: 'Anjali',
 4: 'Sneha',
 5: 'Madhuri',
 6: 'Madhuri',
 7: 'Sneha'}

In [36]:
temp=d.get(9)

In [37]:
print(temp)

None

In [38]:
d.get(9,"Madhu")

'Madhu'

In [42]:
d.get(10,"No_Name")

'No_Name'

In [45]:
d.pop("Rahul")

KeyError: 'Rahul'

In [48]:
temp=d.pop(2)

In [49]:
print(temp)

Madhura

In [52]:
print(d.pop(4),"is deleted ")

Sneha is deleted

In [53]:
d

{5: 'Madhuri', 6: 'Madhuri', 7: 'Sneha'}

In [55]:
temp=d.keys()

In [56]:
type(temp)

dict_keys

In [57]:
d.keys()

dict_keys([5, 6, 7])

In [58]:
d.values()

dict_values(['Madhuri', 'Madhuri', 'Sneha'])

In [59]:
d.items()

dict_items([(5, 'Madhuri'), (6, 'Madhuri'), (7, 'Sneha')])

In [60]:
dict()

{}

In [63]:
d2=dict([(2,"Mumbai"),(23,"Beed"),(20,"Aurangabad"),(44,"Ambajogai"),(19,"Jalana")])

In [64]:
d2

{2: 'Mumbai', 23: 'Beed', 20: 'Aurangabad', 44: 'Ambajogai', 19: 'Jalana'}

In [65]:
d2

{2: 'Mumbai', 23: 'Beed', 20: 'Aurangabad', 44: 'Ambajogai', 19: 'Jalana'}

In [72]:
for i,j in d2.items():
    print(i,j)

2 Mumbai
23 Beed
20 Aurangabad
44 Ambajogai
19 Jalana

In [69]:
a,b=(2,3)

In [73]:
for i in d2.keys():
    print(i)

2
23
20
44
19

In [74]:
for i in d2.values():
    print(i)

Mumbai
Beed
Aurangabad
Ambajogai
Jalana

In [75]:
d3=d2.copy()

In [76]:
d3

{2: 'Mumbai', 23: 'Beed', 20: 'Aurangabad', 44: 'Ambajogai', 19: 'Jalana'}

In [77]:
d2 is d3

False

In [78]:
d2 == d3

True

In [79]:
d3

{2: 'Mumbai', 23: 'Beed', 20: 'Aurangabad', 44: 'Ambajogai', 19: 'Jalana'}

In [80]:
d2

{2: 'Mumbai', 23: 'Beed', 20: 'Aurangabad', 44: 'Ambajogai', 19: 'Jalana'}

In [81]:
id(d3)

2132165310016

In [82]:
id(d2)

2132166007488