In [3]:
num=int(input("Enter a number:"))

Enter a number:-4

In [4]:
list(range(2,2))

[]

In [4]:
flag=False

if num>1:
    for i in range(2,num):
        if num % i==0:
            
            flag=True
            break

if flag:
    print("Number is not prime")
else:   
    print("Number is Prime")

Number is Prime

In [18]:
if True:
    print("Hello")

Hello

In [34]:
 for i in range(2,2):
        print(i)

In [36]:
r=range(2,2)

In [37]:
list(r)

[]

In [50]:
for i in range(100):
    print(i)         t*100  100t

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [51]:
i=2
b=10

In [ ]:
1000000000000000000

2.............. 1000000000000000000000000-1

In [ ]:
7777777777777777777777777777777777777777777777777

2 3 4 5    6 45 y

In [ ]:
6

2 3 4 5

t

In [5]:
#loops with else part:

In [10]:
for i in range(5):
    if i==3:
        break
    print(i)
else:
    print("Loop executes successfully ")

0
1
2

In [18]:
amount=[100,300,4000,50000,50000,50000,30000,50000]

In [19]:
for i in amount:
    if i > 100000:
        break
    print(i)
else:
    print("Congo. All Transations are done")

100
300
4000
50000
50000
50000
30000
50000
Congo. All Transations are done

In [20]:
for i in amount:
    if i > 100000:
        continue
    print(i)
else:
    print("Congo. All Transations are done")

100
300
4000
50000
50000
50000
30000
50000
Congo. All Transations are done

In [ ]:
flag=False

if num>1:
    for i in range(2,num):
        if num % i==0:
            
            flag=True
            break

if flag:
    print("Number is not prime")
else:   
    print("Number is Prime")

In [27]:
num=int(input("Enter a nuber:"))

Enter a nuber:4

In [29]:
if num > 1:
    for i in range(2,int(num/2)+1):
        if num % i == 0:
            print("Number is not prime")
            break
    else:
        print("Number is Prime")
else:
    print("Number is not Prime")

Number is not prime

In [31]:
int(num/2)

2

In [32]:
num/2

2.0

In [33]:
rev_num=0
number=int(input("Enter a number"))
num=number
while num>0:
    rem=num%10
    rev_num=rev_num*10+rem
    num=num//10
if rev_num==number:
    print("Palindrome")
else:
    print("not palindrome")

Enter a number3
Palindrome

In [ ]:
153


1*1*1+5*5*5+3*3*3
1+125+27
153


121

1+8+1
10


total=total+3**3
27

       27 +125
total=total+5**3

total=total+1**3


1642

n

1**4+6**4+4**4+2**4