# iterative
#1)for loop
#2)while loop

In [1]:
for i in [1,2,3,4,5]:
    print(i*i)

1
4
9
16
25

In [9]:
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [3]:
"I am python I am king of prograaming langaugae"
I
am
python
I 
am
king 
of

range(1, 101)

In [7]:
range(1,101,2)

range(1, 101, 2)

In [6]:
list(l)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [13]:
a=("I \n am\n python n I /n am /n king/n of/n langu")
print(a)

I
 am
 python n I /n am /n king/n of/n language

In [15]:
s=input("Enter a string:")
l= s.split() 
for i in l:
    print(i)

Enter a string:I am Python I am very cool
I
am
Python
I
am
very
cool

In [22]:
s=input("Enter a string:")
for i in s.split() :
    print(i,len(i))

Enter a string:I am not i
I 1
am 2
not 3
i 1

In [28]:
s.split()

['I', 'am', 'not', 'i']

In [29]:
len("am")

2

In [1]:
x="I am python. I am king of programming language"
a=x.split()
for i in a:
    print(i,len(i))

I 1
am 2
python. 7
I 1
am 2
king 4
of 2
programming 11
language 8

In [2]:
  a=10

In [3]:
print("Value of a=",a)

Value of a= 10

In [ ]:
#while:
while condition:
    do activity

In [4]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
num=int(input("Enter a numbar"))

Enter a numbar10

In [5]:
num
i=0
sum_1=0

In [6]:

while i<=num:
    sum_1=sum_1+i
    i=i+1
print(sum_1)

55

In [ ]:
number=
num=number