In [1]:
#Tuple

In [3]:
t=(1,2,3)

In [4]:
t.add(2)

AttributeError: 'tuple' object has no attribute 'add'

In [5]:
t.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
t[3]=4

TypeError: 'tuple' object does not support item assignment

In [7]:
t=1,2,3

In [8]:
type(t)

tuple

In [9]:
t[1]

2

In [10]:
t[1:3]

(2, 3)

In [11]:
l1=[1,3,4]

In [12]:
l2=[1,2,4]

In [13]:
l1+l2

[1, 3, 4, 1, 2, 4]

In [15]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [16]:
l1*2

[1, 3, 4, 1, 3, 4]

In [17]:
t1=1,2,3

In [18]:
t2=4,5,6

In [19]:
t1+t2

(1, 2, 3, 4, 5, 6)

In [22]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [23]:
t1*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
len(t1)

3

In [25]:
t=1,2,4,5,5,6,8

In [28]:
t.count(5)

2

In [30]:
t.index(10)

ValueError: tuple.index(x): x not in tuple

min(t)

In [31]:
min(t)

1

In [32]:
max(t)

8

In [33]:
t1=4.5,1,24,5,6,7

In [35]:
t3=sorted(t1)

In [36]:
id(t1)

2014567288640

In [37]:
id(t3)

2014567668416

In [38]:
t3

[1, 4.5, 5, 6, 7, 24]

In [45]:
t1

(4.5, 1, 24, 5, 6, 7)

In [40]:
l=[1,3,4,5,6,7,89,9]

In [47]:
tuple(sorted(t1))

(1, 4.5, 5, 6, 7, 24)

In [42]:
max(l)

89

In [43]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [44]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [48]:
l=[1,2,5,6]

In [50]:
l.append(8)

In [51]:
min(l)

1

In [52]:
max(l)

8

In [58]:
t=1,2,4,4

In [59]:
a,b,c,d=t

In [60]:
a

1

In [61]:
b

2

In [62]:
c

4

In [63]:
d

4

In [64]:
t=1,2,3,4,5,6,7

In [65]:
(i*i for i in t)

In [68]:
l=list(range(1000000000000000000000000))

OverflowError: Python int too large to convert to C ssize_t

In [67]:
1,100

range(0, 1000000000000000000000000)

In [70]:
t=[((1,3,4,5),(3,4,5))]

In [71]:
d={'a':'Amol','m':'Madhuri','s':'Sneha','d':'Dhoni','a':'Anjali'}

In [73]:
t1=(1,2,4)

In [74]:
t2=(3,5,6)

In [76]:
d1={t1:"Hello",t2:"Bye"}

In [77]:
d1

{(1, 2, 4): 'Hello', (3, 5, 6): 'Bye'}

In [78]:
l1=[1,2,4]

In [79]:
l2=[3,5,6]

In [80]:
d2={l1:"Hey",l2:"Bye"}

TypeError: unhashable type: 'list'